@import font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; 
body {
    margin: auto;
    max-width: 800px;
    border: 5px solid rgb(235, 83, 149);
    font-family:'Montserrat', sans-serif;
}

header {
    background-color: rgb(193, 186, 189);
    display: grid;
    grid-template-columns: 400px 1fr;

}
header img {
    grid-column: 3;
    grid-row: 1;
}


header h1 {
    grid-column: 1;
    grid-row: 1;
    font-weight: 700;
    margin: auto;
}

main h2{
    font-weight: 700;
    text-align: center;
}

main ul {
    line-height: 2em;
    font-family: 'Open Sans', sans-serif; 
}

footer {
    background-color: rgb(235, 83, 149);
    padding: 25px;
    text-align: center;
}

footer p {
    font-size: 0.75em;
}