@media only screen and (min-width: 32.5em){
   
    
    header img {
     align: center
        
    }

    body{ 
        margin: auto;
        max-width: 500px;
        
    }

        
    header h1 {
       grid-column:1;
       grid-row: 3;
       font-size: 2.5rem;
       text-shadow: 2px 2px;
  }

  footer {
    font-size: 0.75em;
     color :rgb(37, 11, 236)







}