
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@700&display=swap');



body{ 
    margin: auto;
    max-width: 700px;
    border: 8px solid rgb(235, 83, 149);
    font-family:'Montserrat', sans-serif;
}

header {
    background-color:  rgb(235, 83, 149);
    display: grid;
    grid-template-columns: 400px 1fr;

}
img { 
    display: block;
  margin-left: auto;
  margin-right: auto;
 overflow-clip-margin: content-box;
  overflow: clip;   
}


header h1 {
    grid-column: 1;
    grid-row: 1;
    font-weight: 700;
    margin: auto;
}

main h2{
    font-weight: 700;
    text-align: center;
}

main ul {
    line-height: 2em;
    font-family: 'Open Sans', sans-serif; 
}

footer {
    background-color: rgb(235, 83, 149);
    padding: 25px;
    text-align: center;
}

footer {
    font-size: 0.75em;
     color :rgb(156, 246, 72)

}