

@media screen and (max-width:51.25rem) {
   
    body{
       margin-bottom:60px;
    }
    
     .wrapper{
         display: grid; 
         grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         gap: 2px;
         height: calc(100vh - 80px);
         
      }
        
      .hero {
       grid-row-start: 1;
       grid-column-start: 1;
       grid-row-end: 2;
       grid-column-end: 5;
       /*background*/
      }
      
      .news {
      
         background-color:#F4F1DE;
         grid-row-start: 2;
         grid-column-start: 1;
      
         grid-row-end: 3;
         grid-column-end: 5;
         padding: 1rem;
         
      }
      .spot1 {
      
         background-color:#F4F1DE; 
         grid-row-start: 3;
         grid-column-start: 1;
      
         grid-row-end: 4;
         grid-column-end: 3;
          padding: 1rem;
         
      }
      .spot2 {
      
         background-color:#F4F1DE; 
         grid-row-start: 3;
         grid-column-start: 3;
      
         grid-row-end: 4;
         grid-column-end: 5;
 
     }
     .spot3{
         display: none;
     }
      
      .join {
      
         background-color:#F4F1DE; 
         grid-row-start: 4;
         grid-column-start: 1;
      
         grid-row-end: 5;
         grid-column-end: 5;
         
      }
      .join p {
         margin: 0 auto;
         padding: .5rem;
      }
      .event {
      
         background-color: #F4F1DE;
         grid-row-start: 5;
         grid-column-start: 1;
      
         grid-row-end: 6;
         grid-column-end: 4;
         
      }
      .weather {
      
         background-color: #F4F1DE;
         grid-row-start:5;
         grid-column-start:4;
         grid-row-end: 6;
         grid-column-end: 5;
         padding-bottom: 5rem;

         
      }
      .weather p {
         margin:0.2rem;
      }
      footer{
       position: fixed;
       height: 60px;
       bottom: 0px;
       left: 0px;
       right: 5px;
       margin-bottom: 0px;
       padding-bottom: 5rem;
    }
      
      .cards {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-column-gap: 2px;
         grid-row-gap: 2px; 
     }
 
     .img-dir {
         max-width: 12.5rem;
         align-items:center;
         box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
     }
   
/*discover page*/
.media-card {
   width: 100%;
   transition: ease-in-out 0.3s;;
   transform: scale(0.9);
   text-align: center;
}
.media-card:hover {
   transform: scale(1.02);

}
.form-container {
	width: 600px;  
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 5px;
	
  }
  
  .join-brason-mo {
	margin-top: 20px;
	display: flex;
	justify-content: center;
  }
}

  /*-------join------*/