
@import url('https://fonts.googleapis.com/css2?family=Comme&family=Montserrat:wght@300&family=Noto+Sans&family=Open+Sans:wght@700&family=Roboto&display=swap');
:root {
    --primary-color: #81B29A;
    --secondary-color:#(21,33,102);
    --accent1-color:  #090f7c;
    --accent2-color: #E07A5F;
}

@media only screen and (min-width: 63.75rem) {

    nav button {
        display: none;
    }
    nav ul#Nav {
        display: flex;
    }
    nav ul li{
        text-align: center;
        flex: 1 0 auto;
    }
  
    

nav{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
    
/**-----------------------------------------------Body----------------------------------------------------------------**/
}
body{
    background-color:#81B29A;
    font-family: "comme, sans-serif";
    font-weight: bold;
    /*color: #3D405B;*/
    text-align: center;
  
}



/**-----------------------------------------------Nav------------------------------------------------------------------**/



nav {
    background-color: #3D405B;
    text-align: center;
    padding: 0.5rem;
    justify-content: space-around;
    font-size: 2rem;
    font-weight:lighter;
}
nav button {
    margin: 0 auto;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    padding: 1rem;
}
#menu-btn {
    font-size: 1.25rem;
    align-items: center;
    padding-right: 0.625rem;
}
nav ul {
    list-style-type: none;
    
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.8rem 2rem;
    margin: 0.625rem;
    
}
nav ul li a:hover {
    background-color:#E07A5F;
  
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}

#check{
    display: none;
}

/**-------------------------------------------------social Icons----------------------------------------------------------------**/
.social img {
  height: 30px;
  margin-right: 10px;
}
/**--------------------------------------------------Main Content----------------------------------------------------------------**/
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    border: #E07A5F;
    border: 5px solid;
    
    font-size:medium;
}
p{
    text-align: center;
}
.event{
    grid-area: 1 / 1 / 3/ 2; 
    background-color: #F4F1DE;
    padding: 3px;
    border:#020122

}
.event p,h3{
    text-align: center;
    margin-top: 2%;
    font-family:"Montserrat";
    font-style: oblique;
    text-align:center;
    
}
/*weather*/
 .weather{
    grid-area: 3/ 1 / 5 / 2;
    background-color: #F4F1DE;
    font-family: "comme, sans-serif";
    font-size:medium;
    height: calc(40vh - 40x);


}
.weather p{
    display: flex;
    justify-content:auto; 
    margin:.2rem;
    padding-bottom:.2rem;
    font-family:"Montserrat";
    font-size:medium;
    justify-content:center ;

}

.weather icon-img{
    display:contents;
   justify-content:left;
   width: 500px;
   margin:0 auto;
   padding: 1px;
   margin-left:2rem;
   float:left;

} 



 


.join{
    grid-area: 5/ 1 / 7/ 2;
    background-color: #F4F1DE;
    padding: 2px;
    font-family: "comme, sans-serif";
    

}
.join p{
    margin-top: 10%;
    font-style: oblique;
    font-family:"Montserrat";
}
    
.hero, img{
    grid-area: 1 / 2 / 5/ 4;
    
    
}

.news{
    grid-area: 5 / 2 / 7 / 4;
    background-color: #F4F1DE;
}
.news p{
    margin-top: 2rem;
    font-family:comme;
    padding: 2rem; ;
}
.spot1  {
    grid-area: 1 / 4 / 3 / 5;
    background-color: #F4F1DE;
    padding-bottom: 2rem;
    font-family: "comme, sans-serif";
    font-style:inherit ;
    font-size:medium ;
}




.spot1 p{

    padding: 2rem;
}

.spot1 img {
   display:flex;
   justify-content:center;
   width:250px;
   margin:0 auto;
   padding: -1rem;
   margin-left:2rem;
   position: relative;
   


 }
    

.spot2{
    grid-area: 3 / 4 / 5 / 5;
    background-color: #F4F1DE;
    padding-bottom: 1rem;
    font-family: "comme, sans-serif";

}
.spot2 p{
    padding: 2px;
}

.spot2 img {
    display:flex;
    justify-content:center;
    width:250px;
    margin:0 auto;
    padding: 1rem;
    margin-left:2rem;
    position: relative;
}
 


.spot3{
    grid-area: 5 / 4 / 7 / 5;
    background-color: #F4F1DE;
    padding-bottom: 2rem;
    font-family: "comme, sans-serif";

}

.spot3 img {
    display:flex;
    justify-content:center;
    width:250px;
    margin:0 auto;
    padding:1px;
    margin-left:3rem;
    position: relative;
}


/**--------------------------------------------------Footer-----------------------------------------------------------**/
footer{
  display: flex;
  /*justify-content:left;*/
  flex-wrap:nowrap;
  background-color: #81B29A;
  
  padding: 20px;
  text-align: right;

 
  width: 100vw;
  color: rgb(12, 12, 12);
  position:relative;
  padding: 6px;
}
.footer-content{
  display: flex;
 align-items:center;
 /* justify-content:end;*/
  flex-direction:row;

}


.footer-logo img {
  height: 50px;
  margin-bottom: 10px;
}

.footer h2 {
  margin-bottom: 10px;
}

.footer p {
  margin-bottom: 5px;
}

.footer-contact p {
  margin-bottom: 0;
}

.footer-contact a {
 
  text-decoration:double;
}

.footer-content {
  margin-top: 20px;
}

/**-------------- image ----------------**/
main picture.test img {
    width: 100%;
  
  }
  
  
  picture.test {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .hero {
    position: relative;
    padding: 2px;
    background-color: #F4F1DE;
  }
  
  .hero img {
    object-fit:fill;


  }

  .call-to-action {
   
    background-color:#E07A5F;
   position:static;
    font-weight: bold;
    font-size: 16px;
    padding-top:8px;
   bottom: 10px;
    right: 15px;
    padding: 12px;
    min-width: 100px;
    width: 50%;
    border: none;
    border-radius: 3px;
}

  
    .hero-banner{
        position:relative;
        bottom:1px;
        left: 15px;
        font-weight: bold;
        color:black;
        padding-top:2px;
        margin:0;

    }
  

 /* ------------------------Discover page -------------------------*/   

  /* Main discover styles */
 .discover-head {
    text-align: center;
    margin-top: 30px;
  }
  
  .discover-card {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .discover-card picture,
  .discover-card article {
    background-color:#F4F1DE;
    padding: 15px;
    text-align: center;
  }
  
  .discover-card picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .discover-card picture img {
    max-width: 100%;
    height: auto;
  }
  
  .discover-card article h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family:Roboto ;
  color:#111111;
  }
  
  .discover-card article p {
    font-size: 16px;
    line-height: 1.5;
    font-family:Montserrat ;
    color: #020122;
  }
  
  
  
  /* Lazy-loaded image styles */
  .lazy-img {
    opacity:initial;
    transition: opacity 0.2s ease-in;
  }
  
  .lazy-img-loaded {
    opacity: 8;
  }


 /* -----  Join----------------*/


 
 h1, h2 {
    margin: 0;
    font-family:Montserrat, sans-serif;

   
  }
  
  .container {
    max-width: 400px;
    margin:auto;
    padding: 20px;
  }
  
  /* Header Styles */
 header {
    background-color:#2d2d2e;
    color:#fff;
    padding: 20px;
  }
  
/*  #logo {
    display: flex;
    align-items: center;
  }
  */
   img join {
    height: 300px;
    margin-right: 16px;
  }
  
 /* #logo h1 {
    font-size: 24px;
  }*/
  
  
  
  nav {
    margin-top: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  /* Main Content Styles */
 .main-content {
    padding: 20px;
  }
  
  .title {
    font-size: 28px;
    margin-bottom: 20px;
   
  }
  
  .form-container {
    background-color: #F4F1DE;
    padding: 20px;
    border-radius: 5px;
  }
  
  .form-container p {
    margin-bottom: 10px;
    
  }
  
  .form-container img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .form-container form {
    margin-top: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .form-container input[type="submit"] {
    background-color:var(--primary-color);
    color: #111111;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  
  
  /* Media Queries */
 @media screen and (max-width: 768px) {
    #logo h1 {
      font-size: 20px;
    }
  
    .title {
      font-size: 24px;
    }
  
    footer h2 {
      font-size: 18px;
    }
  }






/**********************************************DIRECTORY**************************/
main .directory{
  background-color: #10100f;
}
business .directory {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 150%;
  height: 40px;
	margin: 1rem auto;
	padding: 2rem;
}

button#grid , button#list{
  display:block;
  align-items: center;
  justify-content: center;
  margin-right: 3em;
  width: 100px;
  height: 100px;
  border-color:#E07A5F;
}

button#grid:hover, button#list:hover {
  transform: scale(1.05);
}

button#grid:active, button#list:active {
  background-color:#F4F1DE;
}

button#grid logo, button#list logo {
  width: 25px;
  display:center;
}

div.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

div.grid section {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  background-color:#F4F1DE;
  box-shadow: 4px 4px 4px #10100f;
  transition: transform 0.5s;
  align-items: center;
  justify-content:space-around;
  text-align:center;
  border:#111111;

}

div.grid section:hover {
  transform: scale(1.05);
}

div.grid logo {
  margin-bottom: 2rem;
  max-width: 10%;
  /*max-height: 40%;*/
  object-fit:none;
}

div.grid h2 {
  font-size: 1rem;
}

div.grid p {
  font-size: .9rem;
}

.directory {
  margin-bottom: 3em;
}
/**** style List*/
.list {
	display:block;

	flex-direction:column;
}

.list h2{
  font-size: .1em;
}

.list section {
	display: flex;
  /*flex-direction: column;*/
	margin-top: .5rem;
  
  margin-bottom: .5rem;
	padding: 0.20rem;
  font-size:medium;
  height:fit-content;
  border:#10100f;
  align-items:flex-end;
  text-align: center;
 /* width:100%;*/
}

/*.list section logo {
	display:none

}*/

.list section:nth-child(odd) {
	background-color:#F4F1DE;
}

a {
  text-decoration: none;
  font-family:Cambria, Cochin;
  color:#090f7c;
}

.grid a {
  font-size: .7rem;
}
 
/*----------------------CONTACT PAGE ------------ */


/* Common styles for all screen sizes */

body contact {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

main contact {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 contact{
  color:#F4F1DE;
  text-align: center;
  margin-bottom: 20px;
}


hr {
  border: none;
  border-top: 1px solid #E07A5F;
  margin-bottom: 20px;
}

p thankyoucard {
  color:#F4F1DE;
  margin-bottom: 10px;
}

.information {
  color: #888;
}

/* Styles for small screens */
@media only screen and (max-width: 480px) {
  main contac {
    padding: 10px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 14px;
  }
  
  label {
    font-size: 12px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="phone number"],
  textarea {
    font-size: 14px;
  }
  
  button[type="submit"] {
    font-size: 14px;
    padding: 8px 16px;
  }
}

