
@import url('https://fonts.googleapis.com/css2?family=Comme&family=Montserrat:wght@300&family=Noto+Sans&family=Open+Sans:wght@700&family=Roboto&display=swap');
:root {
    --primary-color: #81B29A;
    --secondary-color: (21, 33, 102);
    --accent1-color:  #F2CC8F;
    --accent2-color: #E07A5F;
}

@media only screen and (min-width: 63.75rem) {

    nav button {
        display: none;
    }
    nav ul#Nav {
        display: flex;
    }
    nav ul li{
        text-align: center;
        flex: 1 0 auto;
    }
  
    

nav{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
    
/**-----------------------------------------------Body----------------------------------------------------------------**/
}
body{
    background-color: #81B29A;
    font-family: "comme, sans-serif";
    font-weight: bold;
    color: #0c0a34;
    text-align: center;
}


/**-----------------------------------------------Banner----------------------------------------------------------------**/
banner {
   
    background-color: rgb(217, 187, 125);
    color: rgb(21, 33, 102);
    padding: 2px;
    text-align: center;
    font-family: "Montserrat", serif;
    font-size: 10px;
    
}






/**-----------------------------------------------Nav------------------------------------------------------------------**/



nav {
    background-color: #3D405B;
    text-align: center;
    padding: 0.5rem;
    justify-content: space-around;
    font-size: 2rem;
    font-weight:lighter;
}
nav button {
    margin: 0 auto;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    padding: 1rem;
}
#menu-btn {
    font-size: 1.25rem;
    align-items: center;
    padding-right: 0.625rem;
}
nav ul {
    list-style-type: none;
    
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.8rem 2rem;
    margin: 0.625rem;
    
}
nav ul li a:hover {
    background-color:#E07A5F;
  
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}


/**-----------------------------------------------Logo-----------------------------------------------------------------**/

#logo img{
    display: flex;
    justify-content: left;
    width: 8.5rem;
    margin: 0 auto;
    padding: 1rem;
    margin-left: 1rem;
    box-shadow: 2px 6px 9px rgba(3, 5, 5, 6.15);
}

/**-----------------------------------------------Hamburguer Menu-----------------------------------------------------------------**/



#check{
    display: none;
}

/**-------------------------------------------------social Icons----------------------------------------------------------------**/

  social img {
    display: flex;
    width: 6.5rem;
    margin: 0 auto;
    padding: 2rem;
    margin-right: 2rem;
    justify-content: right;

       
}
/**--------------------------------------------------Main Content----------------------------------------------------------------**/
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    border: #E07A5F;
    border: 5px solid;
    
    font-size:medium;
}
p{
    text-align: center;
}
.event{
    grid-area: 1 / 1 / 3/ 2; 
    background-color: #F4F1DE;
    padding: 3px;
    border:#020122

}
.event p,h3{
    text-align: center;
    margin-top: 2%;
    font-family:"Montserrat";
    font-style: oblique;
    text-align:center;
    
}
/*weather*/
.weather{
    grid-area: 3/ 1 / 5 / 2;
    background-color: #F4F1DE;
    font-family: "comme, sans-serif";
    font-size:medium;
    height: calc(40vh - 40x);


}
.weather p{
    display: flex;
    justify-content:auto; 
    margin:.2rem;
    padding-bottom:.2rem;
    font-family:"Montserrat";
    font-size:small;
    justify-content:center ;

}

.weather icon-img{
    display:flex;
   justify-content:left;
   width:230px;
   margin:0 auto;
   padding: 1px;
   margin-left:2rem;
   float:left;

}



.join{
    grid-area: 5/ 1 / 7/ 2;
    background-color: #F4F1DE;
    padding: 2px;
    font-family: "comme, sans-serif";
    

}
.join p{
    margin-top: 10%;
    font-style: oblique;
    font-family:"Montserrat";
}
    
.hero, img{
    grid-area: 1 / 2 / 5/ 4;
    
    




}

.news{
    grid-area: 5 / 2 / 7 / 4;
    background-color: #F4F1DE;
}
.news p{
    margin-top: 2rem;
    font-family:comme;
    padding: 2rem; ;
}
.spot1  {
    grid-area: 1 / 4 / 3 / 5;
    background-color: #F4F1DE;
    padding-bottom: 2rem;
    font-family: "comme, sans-serif";
    font-style:inherit ;
    font-size:medium ;
}

.spot1 p{

    padding: 2rem;
}

.spot1 img {
   display:flex;
   justify-content:center;
   width:250px;
   margin:0 auto;
   padding: -1rem;
   margin-left:2rem;
   position: relative;
   


 }
    

.spot2{
    grid-area: 3 / 4 / 5 / 5;
    background-color: #F4F1DE;
    padding-bottom: 1rem;
    font-family: "comme, sans-serif";

}
.spot2 p{
    padding: 2px;
}

.spot2 img {
    display:flex;
    justify-content:center;
    width:250px;
    margin:0 auto;
    padding: 1rem;
    margin-left:2rem;
    position: relative;
}
 


.spot3{
    grid-area: 5 / 4 / 7 / 5;
    background-color: #F4F1DE;
    padding-bottom: 2rem;
    font-family: "comme, sans-serif";

}

.spot3 img {
    display:flex;
    justify-content:center;
    width:250px;
    margin:0 auto;
    padding:1px;
    margin-left:3rem;
    position: relative;
}


/**--------------------------------------------------Footer-----------------------------------------------------------**/
footer{
    display: flex;
    justify-content:left;
    flex-wrap:nowrap;
    background:#3D405B; ;
   
    width: 100vw;
    color: rgb(222, 205, 205);
    position:relative;
    padding: 2px;
}
.footer-content{
    display: flex;
    align-items:center;
    justify-content:end;
    flex-direction:row;
    text-align:center;
}

 footer-contact {
   color:#E07A5F;
}
/**-------------- image ----------------**/
main picture.test img {
    width: 100%;
  
  }
  
  
  picture.test {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .hero {
    position: relative;
    padding: 2px;
    background-color: #F4F1DE;
  }
  
  .hero img {
    object-fit:fill;


  }

  .call-to-action {
   
    background-color:#E07A5F;
   position: absolute;
    font-weight: bold;
    font-size: 16px;
    padding-top:12px;
   bottom: 10px;
    right: 15px;
    padding: 12px;
    min-width: 100px;
    width: 50%;
    border: none;
    border-radius: 3px;
}

  
    .hero-banner{
        position:relative;
        bottom:1px;
        left: 15px;
        font-weight: bold;
        color:black;
        padding-top:2px;
        margin:0;

    }
  









  